<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h2 class="rideshare-brand">RedditClone</h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto rideshare-navbar-options">
                    <li class="nav-item active rideshare-nav-item">
                        <a class="nav-link" href="#">SOMETHING HERE</a>
                    </li>
                    <li class="nav-item active rideshare-nav-item">
                        <a class="nav-link" href="#">SOMETHING HERE</a>
                    </li>
                    <li class="nav-item active rideshare-nav-item">
                        <a href="/posts/new" class="btn btn-dark navbar-btn" style='margin-left: 40px; border-radius: 40px;'>New Post</a>
                    </li>
                </ul>
            </div>
            <div class="nav navbar-nav navbar-right">
                <a class='btn btn-danger' style='margin-left: 10px; border-radius: 40px;' href='/logout'>Logout</a>
                <a class='btn btn-success' style='margin-left: 10px; border-radius: 40px;' href='/login'>Login</a>
                <a class='btn btn-warning' style='margin-left: 10px; border-radius: 40px;' href='/sign-up'>Sign Up</a>
            </div>
        </div>
    </nav>

    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
