<div class="container">
    <div class="row" style='padding-top: 100px;'>
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h2><a href="/n/{{post.subreddit}}">{{post.subreddit}}</a>/{{post.title}}</h2>
            <hr>
                <a href='post.url' target="_blank">{{post.url}}</a>
                <div class="text-right">

                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>
